:root {
  --purple-blue: #B8B8F3;
  --emerald: #63D471;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
  box-shadow: 0px 1px 2px 1px #222;
}

.header-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  height: 85px;
}

.header-nav a {
  border: 2px solid var(--purple-blue);
  border-radius: 10px;
  color: var(--purple-blue);
  text-decoration: none;
  padding: 5px;
  transition: all 0.4s ease-out;
}

.header-nav a:hover {
  background-color: #B8B8F3;
  border: 2px solid #333;
  color: #fff;
}
