body {
    background-color: #EDF2F4;
    color: #333333;
}
.name {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
}
.description {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
strong {
    color: #4E4176;
}
.highlight {
    font-size: 1.8;
    color: #F07605;
}
.normal {
    color: #30382E;
}
ul {
    list-style: none;
    line-height: 1.6em;
    font-size: 1.5em;
}
h2 {
    font-size: 1.8em;
}

#main-picture {
    float: left;
    height: 300px;
    width: 300px;
}

.img-container {
    height: 300px;
}

div {
    border: 2px solid green;
}